<div class="wrapper-every-section">
<div class="every-page-width">
 <div class="line-title">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>

</div>
</div>
</div>


{% schema %}
{
  "name": "Everyday Holiday",
  "settings": [],
  "presets": [
    {
      "name": "Everyday Holiday"
    }
  ]
}
{% endschema %}