<div class="wrapper-every-section">
<div class="every-page-width">
 <div class="line-title">
<hr>
<h2 class="top-title">{{ section.settings.title }}</h2>
 <hr>
</div>

<div class="evrey-under-text">
  {% for block in section.blocks %}
<div class="evry-icon-text">
<div class="everyt-icon">
  <img src="{{ block.settings.img | img_url:'master' }}" >
</div>
<div class="evry-under-all">
<h3>{{ block.settings.head }}</h3>
<div class="every-descrition">
{{ block.settings.text }}
</div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>


{% schema %}
{
  "name": "Everyday Holiday",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "type": "icon_text",
      "name": "Icon with Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "head",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Everyday Holiday"
    }
  ]
}
{% endschema %}
