<div class="wrapper-insta-section">
  <div class="insta-page-width">
    <div class="line-title">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>

    <div class="insta-all-posts">
      {% for block in section.blocks %}
        <div class="insta-under-images">
          <div class="insta-image">
            <img src="{{ block.settings.img | img_url:'master' }}">
          </div>
          <div class="insta-icon">
            <img src="https://cdn.shopify.com/s/files/1/0774/9376/4347/files/instagram_2_1.png?v=1757506260">
          </div>        
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>

@Media (max-width: 767px){

.wrapper-insta-section .insta-all-posts button.slick-arrow svg path {
    fill: #F76E2A;
}

.wrapper-insta-section .insta-all-posts button.slick-arrow {
    padding: 0;
    border: 1px solid #F76E2A;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -47px;
    z-index: 1;
    background-color: transparent;
}

.wrapper-insta-section .insta-all-posts button.slick-next.custom-next.slick-arrow {
    right: 25px;
}

.wrapper-insta-section .insta-all-posts button.slick-prev.custom-prev.slick-arrow {
    right: 16%;
}

.wrapper-insta-section .insta-all-posts button.slick-arrow svg {
    width: 14px;
    height: 14px;
}

}

</style>


<script>
$(document).ready(function(){

  function initMobileSlick() {
    if ($(window).width() <= 767) {
      if (!$('.insta-all-posts').hasClass('slick-initialized')) {
        $('.insta-all-posts').slick({
          slidesToShow: 2,
          slidesToScroll: 1,
          dots: false,
          arrows: true,
          autoplay: true,
          autoplaySpeed: 3000,
          infinite: false,
           prevArrow: '<button type="button" class="slick-prev custom-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Pro v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M169.4 297.4C156.9 309.9 156.9 330.2 169.4 342.7L361.4 534.7C373.9 547.2 394.2 547.2 406.7 534.7C419.2 522.2 419.2 501.9 406.7 489.4L237.3 320L406.6 150.6C419.1 138.1 419.1 117.8 406.6 105.3C394.1 92.8 373.8 92.8 361.3 105.3L169.3 297.3z"/></svg></button>',
          nextArrow: '<button type="button" class="slick-next custom-next"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M471.1 297.4C483.6 309.9 483.6 330.2 471.1 342.7L279.1 534.7C266.6 547.2 246.3 547.2 233.8 534.7C221.3 522.2 221.3 501.9 233.8 489.4L403.2 320L233.9 150.6C221.4 138.1 221.4 117.8 233.9 105.3C246.4 92.8 266.7 92.8 279.2 105.3L471.2 297.3z"/></svg></button>',
        });
      }
    } else {
      if ($('.insta-all-posts').hasClass('slick-initialized')) {
        $('.insta-all-posts').slick('unslick'); // Destroy slick on desktop
      }
    }
  }

  // Run on load
  initMobileSlick();

  // Run on resize
  $(window).on('resize', function() {
    initMobileSlick();
  });

});
</script>

{% schema %}
{
  "name": "Instagram Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Instagram Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Instagram Section"
    }
  ]
}
{% endschema %}
