<div class="wrapper-insta-section">
  <div class="insta-page-width">
    <div class="line-title">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>

    <div class="insta-all-posts">
      {% for block in section.blocks %}
        <div class="insta-under-images">
          <div class="insta-image">
            <img src="{{ block.settings.img | img_url:'master' }}">
          </div>
          <div class="insta-icon">
            <img src="https://cdn.shopify.com/s/files/1/0774/9376/4347/files/instagram_2_1.png?v=1757506260">
          </div>        
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
$(document).ready(function(){

  function initMobileSlick() {
    if ($(window).width() <= 767) {
      if (!$('.insta-all-posts').hasClass('slick-initialized')) {
        $('.insta-all-posts').slick({
          slidesToShow: 2,
          slidesToScroll: 1,
          dots: false,
          arrows: false,
          autoplay: true,
          autoplaySpeed: 3000,
          infinite: false
        });
      }
    } else {
      if ($('.insta-all-posts').hasClass('slick-initialized')) {
        $('.insta-all-posts').slick('unslick'); // Destroy slick on desktop
      }
    }
  }

  // Run on load
  initMobileSlick();

  // Run on resize
  $(window).on('resize', function() {
    initMobileSlick();
  });

});
</script>

{% schema %}
{
  "name": "Instagram Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Instagram Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Instagram Section"
    }
  ]
}
{% endschema %}
