<div class="wrapper-insta-section">
<div class="insta-page-width">

</div>
</div>

{% schema %}
{
  "name": "Instagram Section",
  "settings": [],
  "presets": [
    {
      "name": "Instagram Section"
    }
  ]
}
{% endschema %}