<div class="compar-background">
<div class="comparison-page-width">
        <div class="line-title">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>
<div class="comparison-section">
  <!-- CHEESE TABLE -->
  <div class="comparison-table cheese-table">
    <div class="table-header">
      <div>Feature</div>
      <div>Scratch Cheese</div>
      <div>Dairy<br>Cheese</div>
      <div>Other Plant Cheese</div>
    </div>
    <div class="table-back-texts">
    {% for block in section.blocks %}
      {% if block.type == 'cheese_item' %}
      <div class="table-row">
         <div class="row-first-title">
        <div class="complare-text">{{ block.settings.feature }}</div>
         </div>
        <div class="comparddde-texts scratch">
            <div class="complare-right">
          {% if block.settings.scratch == 'right' %}✔{% elsif block.settings.scratch == 'wrong' %}✖{% endif %}
            </div>
        </div>
       <div class="comparddde-texts">
         <div class="complare-right">
          {% if block.settings.dairy == 'right' %}✔{% elsif block.settings.dairy == 'wrong' %}✖{% endif %}
          </div>
        </div>
         <div class="comparddde-texts other_plant">
             <div class="complare-right">
          {% if block.settings.other_plant == 'right' %}✔{% elsif block.settings.other_plant == 'wrong' %}✖{% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
</div>
  </div>

  <!-- MEAT TABLE -->
  <div class="comparison-table meat-table">
    <div class="table-header">
      <div>Feature</div>
      <div>Scratch Meat</div>
      <div>Other Plant <br>Meat</div>
    </div>
     <div class="table-back-texts">
    {% for block in section.blocks %}
      {% if block.type == 'meat_item' %}
      <div class="table-row">
        <div class="row-first-title">
        <div class="complare-text">{{ block.settings.feature }}</div>
        </div>
        <div class="comparddde-texts scratch">
             <div class="complare-right">
          {% if block.settings.scratch == 'right' %}✔{% elsif block.settings.scratch == 'wrong' %}✖{% endif %}
          </div>
        </div>
        <div class="comparddde-texts other_plant">
             <div class="complare-right">
          {% if block.settings.other_plant == 'right' %}✔{% elsif block.settings.other_plant == 'wrong' %}✖{% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
</div>
  </div>
</div>
</div>
</div>

<style>

.compar-background .meat-table .table-row:last-child {
    border: 0;
}

    .compar-background .table-back-texts {
    border-bottom: 1px solid #FFFFFF33;
    background-color: #343434;
    border-radius: 20px;
}

.comparison-section {
    display: flex;
    gap: 100px;
    margin-top: 65px;
}
.comparison-table {
  border-radius: 20px;
  width: 100%;
}

.table-header{
      display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  background-color: transparent;
}

.compar-background .table-row .comparddde-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.compar-background .complare-right {
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.compar-background .table-row .comparddde-texts.scratch {
    background-color: #F76E2A;
    width: 170px;
    border: 0;
}

.compar-background .cheese-table .table-row > div, .compar-background .meat-table .table-row {
    border-bottom: 1px solid #FFFFFF33;
} 

.compar-background .cheese-table .table-row .row-first-title {
    width: 260px;
}

.compar-background .cheese-table .table-row .comparddde-texts.scratch {
    width: 170px;
}

.compar-background .comparison-table.meat-table .table-row {
    grid-template-columns: repeat(3,1fr);
}

.compar-background .row-first-title {
    width: 330px;
}

.compar-background .table-header > div:nth-of-type(1) {
    width: 260px;
    opacity: 0;
}

.compar-background .table-header > div {
    font-family: Oswald;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
            display: flex;
        align-items: center;
        justify-content: center;
}

.compar-background .table-header > div:nth-of-type(2) {
    background-color: #F76E2A;
    width: 170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    color: #fff;
}

.compar-background .cheese-table .table-row .comparddde-texts.other_plant {
    border-left: 1px solid #fff;
}

.compar-background .comparison-table.meat-table .table-header > div:nth-of-type(1) {
    width: 329px;
}

.compar-background .comparison-table.meat-table .table-header {
    grid-template-columns: repeat(3, 1fr);
}

.complare-text {
    font-family: Oswald;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: capitalize;
    text-align: left;
    color: #fff;
    padding: 30px 19px;
}
.table-row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
}

.table-row:last-child {
  border-bottom: none;
}
</style>

{% schema %}
{
  "name": "Comparison Table",
  "settings": [
        {
    "type": "text",
    "id": "title",
    "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "cheese_item",
      "name": "Cheese Feature",
      "settings": [
        { "type": "text", "id": "feature", "label": "Feature Name" },
        { 
          "type": "select", "id": "scratch", "label": "Scratch Cheese", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        },
        { 
          "type": "select", "id": "dairy", "label": "Dairy Cheese", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        },
        { 
          "type": "select", "id": "other_plant", "label": "Other Plant Cheese", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        }
      ]
    },
    {
      "type": "meat_item",
      "name": "Meat Feature",
      "settings": [
        { "type": "text", "id": "feature", "label": "Feature Name" },
        { 
          "type": "select", "id": "scratch", "label": "Scratch Meat", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        },
        { 
          "type": "select", "id": "other_plant", "label": "Other Plant Meat", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Comparison Table",
      "category": "Tables"
    }
  ]
}
{% endschema %}
