<div class="compar-background">
<div class="comparison-page-width">
        <div class="line-title" data-aos="fade-down">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>
<div class="comparison-section" data-aos="fade-up">
  <!-- CHEESE TABLE -->
  <div class="comparison-table cheese-table">
    <div class="table-header">
      <div>Feature</div>
      <div>Scratch Cheese</div>
      <div>Dairy<br>Cheese</div>
      <div>Other Plant Cheese</div>
    </div>
    <div class="table-back-texts">
    {% for block in section.blocks %}
      {% if block.type == 'cheese_item' %}
      <div class="table-row">
         <div class="row-first-title">
        <div class="complare-text">{{ block.settings.feature }}</div>
         </div>
        <div class="comparddde-texts scratch">
            <div class="complare-right">
          {% if block.settings.scratch == 'right' %}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M530.8 134.1C545.1 144.5 548.3 164.5 537.9 178.8L281.9 530.8C276.4 538.4 267.9 543.1 258.5 543.9C249.1 544.7 240 541.2 233.4 534.6L105.4 406.6C92.9 394.1 92.9 373.8 105.4 361.3C117.9 348.8 138.2 348.8 150.7 361.3L252.2 462.8L486.2 141.1C496.6 126.8 516.6 123.6 530.9 134z"/></svg>  
          {% elsif block.settings.scratch == 'wrong' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z"/></svg>
          {% endif %}
            </div>
        </div>
       <div class="comparddde-texts">
         <div class="complare-right">
          {% if block.settings.dairy == 'right' %}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M530.8 134.1C545.1 144.5 548.3 164.5 537.9 178.8L281.9 530.8C276.4 538.4 267.9 543.1 258.5 543.9C249.1 544.7 240 541.2 233.4 534.6L105.4 406.6C92.9 394.1 92.9 373.8 105.4 361.3C117.9 348.8 138.2 348.8 150.7 361.3L252.2 462.8L486.2 141.1C496.6 126.8 516.6 123.6 530.9 134z"/></svg>  
          {% elsif block.settings.dairy == 'wrong' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z"/></svg>
          {% endif %}
          </div>
        </div>
         <div class="comparddde-texts other_plant">
             <div class="complare-right">
          {% if block.settings.other_plant == 'right' %}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M530.8 134.1C545.1 144.5 548.3 164.5 537.9 178.8L281.9 530.8C276.4 538.4 267.9 543.1 258.5 543.9C249.1 544.7 240 541.2 233.4 534.6L105.4 406.6C92.9 394.1 92.9 373.8 105.4 361.3C117.9 348.8 138.2 348.8 150.7 361.3L252.2 462.8L486.2 141.1C496.6 126.8 516.6 123.6 530.9 134z"/></svg>  
          {% elsif block.settings.other_plant == 'wrong' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z"/></svg>
          {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
</div>
  </div>

  <!-- MEAT TABLE -->
  <div class="comparison-table meat-table">
    <div class="table-header">
      <div>Feature</div>
      <div>Scratch Meat</div>
      <div>Other Plant <br>Meat</div>
    </div>
     <div class="table-back-texts">
    {% for block in section.blocks %}
      {% if block.type == 'meat_item' %}
      <div class="table-row">
        <div class="row-first-title">
        <div class="complare-text">{{ block.settings.feature }}</div>
        </div>
        <div class="comparddde-texts scratch">
             <div class="complare-right">
          {% if block.settings.scratch == 'right' %}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M530.8 134.1C545.1 144.5 548.3 164.5 537.9 178.8L281.9 530.8C276.4 538.4 267.9 543.1 258.5 543.9C249.1 544.7 240 541.2 233.4 534.6L105.4 406.6C92.9 394.1 92.9 373.8 105.4 361.3C117.9 348.8 138.2 348.8 150.7 361.3L252.2 462.8L486.2 141.1C496.6 126.8 516.6 123.6 530.9 134z"/></svg>  
          {% elsif block.settings.scratch == 'wrong' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z"/></svg>
          {% endif %}
          </div>
        </div>
        <div class="comparddde-texts other_plant">
             <div class="complare-right">
          {% if block.settings.other_plant == 'right' %}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M530.8 134.1C545.1 144.5 548.3 164.5 537.9 178.8L281.9 530.8C276.4 538.4 267.9 543.1 258.5 543.9C249.1 544.7 240 541.2 233.4 534.6L105.4 406.6C92.9 394.1 92.9 373.8 105.4 361.3C117.9 348.8 138.2 348.8 150.7 361.3L252.2 462.8L486.2 141.1C496.6 126.8 516.6 123.6 530.9 134z"/></svg>  
          {% elsif block.settings.other_plant == 'wrong' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z"/></svg>
          {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
</div>
  </div>
</div>
</div>
</div>

<style>

.compar-background .meat-table .table-row:last-child {
    border: 0;
}

    .compar-background .table-back-texts {
    border-bottom: 1px solid #FFFFFF33;
    background-color: #343434;
    border-radius: 20px;
}

.comparison-section {
    display: flex;
    gap: 100px;
    margin-top: 65px;
}
.comparison-table {
  border-radius: 20px;
  width: 100%;
}

.compar-background .table-row .comparddde-texts.scratch::before {
    content: "";
    background-color: #F76E2A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -24px;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.table-header{
      display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  background-color: transparent;
}

.compar-background .table-row .comparddde-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.compar-background .complare-right {
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    color: #fff;
}

.compar-background .table-row .comparddde-texts.scratch {
    width: 170px;
    border: 0;
    position: relative;
    z-index: 1;
}

.compar-background .cheese-table .table-row > div, .compar-background .meat-table .table-row {
    border-bottom: 1px solid #FFFFFF33;
} 

.compar-background .cheese-table .table-row .row-first-title {
    width: 260px;
}

.compar-background .cheese-table .table-row .comparddde-texts.scratch {
    width: 170px;
}

.compar-background .comparison-table.meat-table .table-row {
    grid-template-columns: repeat(3,1fr);
}

.compar-background .row-first-title {
    width: 330px;
}

.compar-background .table-header > div:nth-of-type(1) {
    width: 260px;
    opacity: 0;
}

.compar-background .table-header > div {
    font-family: Oswald;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
            display: flex;
        align-items: center;
        justify-content: center;
}

.compar-background .table-header > div:nth-of-type(2) {
    background-color: #F76E2A;
    width: 170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    color: #fff;
}

.compar-background .cheese-table .table-row .comparddde-texts.other_plant {
    border-left: 1px solid #fff;
}

.compar-background .comparison-table.meat-table .table-header > div:nth-of-type(1) {
    width: 329px;
}

.compar-background .comparison-table.meat-table .table-header {
    grid-template-columns: repeat(3, 1fr);
}

.complare-text {
    font-family: Oswald;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: capitalize;
    text-align: left;
    color: #fff;
    padding: 30px 19px;
}
.table-row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
}

.table-row:last-child {
  border-bottom: none;
}
</style>

{% schema %}
{
  "name": "Comparison Table",
  "settings": [
        {
    "type": "text",
    "id": "title",
    "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "cheese_item",
      "name": "Cheese Feature",
      "settings": [
        { "type": "text", "id": "feature", "label": "Feature Name" },
        { 
          "type": "select", "id": "scratch", "label": "Scratch Cheese", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        },
        { 
          "type": "select", "id": "dairy", "label": "Dairy Cheese", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        },
        { 
          "type": "select", "id": "other_plant", "label": "Other Plant Cheese", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        }
      ]
    },
    {
      "type": "meat_item",
      "name": "Meat Feature",
      "settings": [
        { "type": "text", "id": "feature", "label": "Feature Name" },
        { 
          "type": "select", "id": "scratch", "label": "Scratch Meat", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        },
        { 
          "type": "select", "id": "other_plant", "label": "Other Plant Meat", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Comparison Table",
      "category": "Tables"
    }
  ]
}
{% endschema %}
