<div class="compar-background">
<div class="comparison-page-width">
        <div class="line-title">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>
<div class="comparison-section">
  <!-- CHEESE TABLE -->
  <div class="comparison-table cheese-table">
    <div class="table-header">
      <div>Feature</div>
      <div>Scratch Cheese</div>
      <div>Dairy Cheese</div>
      <div>Other Plant Cheese</div>
    </div>
    <div class="table-back-texts">
    {% for block in section.blocks %}
      {% if block.type == 'cheese_item' %}
      <div class="table-row">
        <div class="row-first-title">
        <div class="complare-text">{{ block.settings.feature }}</div>
        </div>
        <div class="comparddde-texts scratch">
            <div class="complare-right">
          {% if block.settings.scratch == 'right' %}✔{% elsif block.settings.scratch == 'wrong' %}✖{% endif %}
            </div>
        </div>
       <div class="comparddde-texts">
         <div class="complare-right">
          {% if block.settings.dairy == 'right' %}✔{% elsif block.settings.dairy == 'wrong' %}✖{% endif %}
          </div>
        </div>
         <div class="comparddde-texts">
             <div class="complare-right">
          {% if block.settings.other_plant == 'right' %}✔{% elsif block.settings.other_plant == 'wrong' %}✖{% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
</div>
  </div>

  <!-- MEAT TABLE -->
  <div class="comparison-table meat-table">
    <div class="table-header">
      <div>Feature</div>
      <div>Scratch Meat</div>
      <div>Other Plant Meat</div>
    </div>
     <div class="table-back-texts">
    {% for block in section.blocks %}
      {% if block.type == 'meat_item' %}
      <div class="table-row">
        <div class="row-first-title">
        <div class="complare-text">{{ block.settings.feature }}</div>
        </div>
        <div class="comparddde-texts scratch">
             <div class="complare-right">
          {% if block.settings.scratch == 'right' %}✔{% elsif block.settings.scratch == 'wrong' %}✖{% endif %}
          </div>
        </div>
        <div class="comparddde-texts">
             <div class="complare-right">
          {% if block.settings.other_plant == 'right' %}✔{% elsif block.settings.other_plant == 'wrong' %}✖{% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
</div>
  </div>
</div>
</div>
</div>

<style>

    .compar-background .table-back-texts {
    border-bottom: 1px solid #FFFFFF33;
    background-color: #343434;
    border-radius: 20px;
}

.comparison-section {
    display: flex;
    gap: 100px;
    margin-top: 65px;
}
.comparison-table {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.table-header{
      display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
  background-color: transparent;
}

.complare-text {
    font-family: Oswald;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: capitalize;
    text-align: left;
    color: #fff;
    padding: 30px 19px;
}
.table-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
}

.table-row:last-child {
  border-bottom: none;
}
</style>

{% schema %}
{
  "name": "Comparison Table",
  "settings": [
        {
    "type": "text",
    "id": "title",
    "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "cheese_item",
      "name": "Cheese Feature",
      "settings": [
        { "type": "text", "id": "feature", "label": "Feature Name" },
        { 
          "type": "select", "id": "scratch", "label": "Scratch Cheese", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        },
        { 
          "type": "select", "id": "dairy", "label": "Dairy Cheese", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        },
        { 
          "type": "select", "id": "other_plant", "label": "Other Plant Cheese", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        }
      ]
    },
    {
      "type": "meat_item",
      "name": "Meat Feature",
      "settings": [
        { "type": "text", "id": "feature", "label": "Feature Name" },
        { 
          "type": "select", "id": "scratch", "label": "Scratch Meat", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        },
        { 
          "type": "select", "id": "other_plant", "label": "Other Plant Meat", 
          "options": [ {"value": "right", "label": "✔"}, {"value": "wrong", "label": "✖"}, {"value": "", "label": "None"} ]
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Comparison Table",
      "category": "Tables"
    }
  ]
}
{% endschema %}
