<section class="split-banner-section-alt">
  <div class="split-banner-inner-alt">
    <!-- Left Text -->
    <div class="split-banner-content-alt">
      {% if section.settings.heading != blank %}
        <h2 class="split-heading-alt">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <p class="split-text-alt">{{ section.settings.text }}</p>
      {% endif %}
    </div>

    <!-- Right Image -->
    <div class="split-banner-image-alt">
      {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | img_url:'master' }}" alt="Banner Image">
      {% endif %}
    </div>
  </div>
</section>

<style>
.split-banner-section-alt {
  width: 100%;
}

.split-banner-inner-alt {
  display: flex;
  align-items: center;
  background-color: #343434;
}

</style>

{% schema %}
{
  "name": "Split Section (Reversed)",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Right Side Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "BKIND"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Description",
      "default": "At BKIND, we offer all-natural, plant-based, vegan, eco-friendly beauty and skin care products..."
    }
  ],
  "presets": [
    {
      "name": "Split section (Reversed)",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
