<div class="cheese-tab-section">
<div class="wrap-page-width">
<div class="line-title">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>

    
    


</div>
</div>




{% schema %}
{
  "name": "Tabbing Section",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Heading"
    }
  ],
   "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Cheeses"
        },
        {
          "type": "text",
          "id": "collections_list",
          "label": "Collection Handles (comma separated)",
          "default": "frontpage,all"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Fallback Image (if collection image missing)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabbed Collections",
      "category": "Collection"
    }
  ]
}
{% endschema %}